# Assignment \#3 Olympic dataset

#### Features description
- *City*: City
- *Edition*: Year
- *Sport*: Sport
- *Discipline*: Discipline
- *Athlete*: Athlete's last name and first name (generally separated by a comma and a space)
- *NOC*: Country, National Olympic Committee, ISO 3166-1 alpha-3
- *Gender*: Men, Women
- *Event*: Event
- *Event_gender*: Event gender (F = Women, M = Men, X = NA)
- *Medal*: Metal of medal (Bronze, Silver, Gold)

In [3]:
# usual import and options
import pandas as pd
pd.set_option("display.max_rows", 16)

### Loading the dataset

**file**: `'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'`

**separator**: tab: `\t`

In [5]:
# LOADING THE DATASET
# DO NOT CHANGE THIS CELL FOR GRADING
# THE DATASET SHOULD BE ALONG WITH THE NOTEBOOK AND THE PYTHON FILE

df = pd.read_table('Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt')
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>City</th>
      <th>Edition</th>
      <th>Sport</th>
      <th>Discipline</th>
      <th>Athlete</th>
      <th>NOC</th>
      <th>Gender</th>
      <th>Event</th>
      <th>Event_gender</th>
      <th>Medal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Athens</td>
      <td>1896</td>
      <td>Aquatics</td>
      <td>Swimming</td>
      <td>HAJOS, Alfred</td>
      <td>HUN</td>
      <td>Men</td>
      <td>100m freestyle</td>
      <td>M</td>
      <td>Gold</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Athens</td>
      <td>1896</td>
      <td>Aquatics</td>
      <td>Swimming</td>
      <td>HERSCHMANN, Otto</td>
      <td>AUT</td>
      <td>Men</td>
      <td>100m freestyle</td>
      <td>M</td>
      <td>Silver</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Athens</td>
      <td>1896</td>
      <td>Aquatics</td>
      <td>Swimming</td>
      <td>DRIVAS, Dimitrios</td>
      <td>GRE</td>
      <td>Men</td>
      <td>100m freestyle for sailors</td>
      <td>M</td>
      <td>Bronze</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Athens</td>
      <td>1896</td>
      <td>Aquatics</td>
      <td>Swimming</td>
      <td>MALOKINIS, Ioannis</td>
      <td>GRE</td>
      <td>Men</td>
      <td>100m freestyle for sailors</td>
      <td>M</td>
      <td>Gold</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Athens</td>
      <td>1896</td>
      <td>Aquatics</td>
      <td>Swimming</td>
      <td>CHASAPIS, Spiridon</td>
      <td>GRE</td>
      <td>Men</td>
      <td>100m freestyle for sailors</td>
      <td>M</td>
      <td>Silver</td>
    </tr>
  </tbody>
</table>
</div>

#### Questions

1) How many different cities have organized Olympic games?

2) How many different editions of Olympic games are in the dataset?

3) How many cities have organized more than one edition of Olympic games?

4) Which sport distributed the most medals?

5) Which discipline distributed the most medals?

6) How many gold medals have been distributed?

7) Which edition distributed the most silver medals?

8) In how many different disciplines did men received medals (°)?

9) In how many different disciplines did women received medals (°)?

10) How many disciplines are dedicated to women (°)?

11) How many countries have won a medal with an event gender equal to 'X'?

12) How many countries have won a gold medal with an event gender equal to 'X'?

13) How many different countries have an athlete whose surname is 'SCHMIDT'?

14) How many different sports have the word 'ball' in their name?

15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

16) How many different events are in the dataset?

17) How many different events including numbers in their description are in the dataset?

18) Which athlete has participated in the most editions?

19) How many sports have the same number of Gold, Silver and Bronze medals?

20) How many athletes have strictly more Gold medals than Silver and more Silver medals than Bronze?

21) Which country has won at least one medal in each olympic edition?

22) Add a column named 'Score' with 1 for Bronze, 2 for Silver and 3 for Gold medals. What is the total sum of scores?

23) Which athlete has the largest sum of scores?

24) Which woman athlete has the largest sum of scores?

25) For how many countries the sum of men's scores is equal to the sum of women's scores?

26) Add a column named 'Trial' with the concatenation of columns 'Discipline', 'Sport' and 'Event' separated by a space. How many different trials are in the dataset?

27) Which edition has the largest number of different trials?

28) Add a column 'First Name' with the first name of athletes. How many different first names are in the dataset?

29) Which athlete's first name has the largest sum of scores?

30) Which woman athlete's first name has the largest sum of scores (°)?

(°) Use the 'Gender' column.

In [3]:
# 1) How many different cities have organized Olympic games?
def exercise_01():
    result = df['City'].nunique()
    return result

# run and check
exercise_01()

22

In [59]:
# 2) How many different editions of Olympic games are in the dataset?
def exercise_02():
    result = df['Edition'].nunique()
    return result

# run and check
exercise_02()

26

In [60]:
# 3) How many cities have organized more than one edition of Olympic games?

def exercise_03():
    var = df.pivot_table(values='Edition',
               index='City',
               aggfunc='nunique')
    var['Edition'] > 1
    result =  var.loc[var['Edition'] > 1,"City"].count()
    return result
    
# run and check
exercise_03()

4

In [63]:
# 4) Which sport distributed the most medals?

def exercise_04():
    result = result = df["Sport"].value_counts().keys()[0]
    return result

# run and check
exercise_04()

'Aquatics'

In [61]:
# 5) Which discipline distributed the most medals?

def exercise_05():
    result = df["Discipline"].value_counts().keys()[0]
    return result

# run and check
exercise_05()

'Athletics'

In [64]:
# 6) How many gold medals have been distributed?

def exercise_06():
    result = result = pd.crosstab(df['Edition'],df['Medal'],margins= True)
    return result.loc['All','Gold']

# run and check
exercise_06()

9850

In [65]:
# 7) Which edition distributed the most silver medals?

def exercise_07():
    result = result = pd.crosstab(df["Edition"], df['Medal'])
    return result['Silver'].idxmax()

# run and check
exercise_07()

2000

In [67]:
# 8) In how many different disciplines did men received medals (°)?

def exercise_08():
    result = df.pivot_table(values='Medal',index='Discipline',columns='Gender',aggfunc='count')
    return (result['Men'].notnull()).sum()

# run and check
exercise_08()

53

In [68]:
# 9) In how many different disciplines did women received medals (°)?

def exercise_09():
    result = df.pivot_table(values='Medal',index='Discipline',columns='Gender',aggfunc='count')
    return (result['Women'].notnull()).sum()

# run and check
exercise_09()

40

In [75]:
# 10) How many disciplines are dedicated to women (°)?

def exercise_10():
    result = pd.crosstab(df['Discipline'],df['Gender'])
    return (result['Women'].notnull()).sum()
    
# run and check
exercise_10()

56

In [70]:
# 11) How many countries have won a medal with an event gender equal to 'X'?

def exercise_11():
    result=df.pivot_table(values='Medal',index='NOC',columns='Event_gender',aggfunc='count')
    return (result['X'].notnull()).sum()

# run and check
exercise_11()

49

In [4]:
# 12) How many countries have won a gold medal with an event gender equal to 'X'?

def exercise_12():
    genderRecords = df.loc[df['Event_gender'] == 'X']
    goldRecords = genderRecords.loc[genderRecords['Medal'] == 'Gold']
    return len(goldRecords.groupby('NOC').groups)

# run and check
exercise_12()

33

In [6]:
# 13) How many different countries have an athlete whose surname is 'SCHMIDT'?

def count_schmidt(str):
    return str.split(',')[0] == 'SCHMIDT'
#    return str.count('SCHMIDT')


def exercise_13():

    df['Schmidt'] = df.Athlete.apply(count_schmidt)

    temp = df[['NOC', 'SCHMIDT']].groupby('NOC').agg(sum)
    temp = len(temp[temp.SCHMIDT > 0])

    result = temp
    return result

# run and check
exercise_13()

/Users/Philippe/Programmation/beta-Carotene/venv/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  # Remove the CWD from sys.path while we load stuff.

KeyError: "['SCHMIDT'] not in index"

In [ ]:
# 14) How many different sports have the word 'ball' in their name?
# Pareil

def exercise_14():
    result = None
    return result

# run and check
exercise_14()

In [75]:
# 15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

def count_kim(str):
    return str.count('KIM')


def exercise_15():
    df.Kim = df.Athlete.apply(count_kim)
    
    print(df[df.Medal.isin(["Bronze", "Silver"])][df.Kim > 0])
    
    result = None
    return result

# run and check
exercise_15()

                        City  Edition          Sport     Discipline  \
5040               Amsterdam     1928       Aquatics       Swimming
7964                  London     1948  Weightlifting  Weightlifting
8850                Helsinki     1952  Weightlifting  Weightlifting
9732   Melbourne / Stockholm     1956  Weightlifting  Weightlifting
11395                  Tokyo     1964           Judo           Judo
11980                 Mexico     1968      Athletics      Athletics
12599                 Mexico     1968     Volleyball     Volleyball
13087                 Munich     1972         Boxing         Boxing
...                      ...      ...            ...            ...
26943                 Athens     2004   Table Tennis   Table Tennis
26945                 Athens     2004   Table Tennis   Table Tennis
27919                Beijing     2008         Boxing         Boxing
28451                Beijing     2008       Handball       Handball
28452                Beijing     2008       Handball       Handball
28453                Beijing     2008       Handball       Handball
28633                Beijing     2008           Judo           Judo
28952                Beijing     2008   Table Tennis   Table Tennis

                   Athlete  NOC Gender                              Event  \
5040   MCKIM, Josephine E.  USA  Women                     400m freestyle
7964         KIM, Sung-Jip  KOR    Men  67.5 - 75kg, total (middleweight)
8850         KIM, Sung-Jip  KOR    Men  67.5 - 75kg, total (middleweight)
9732        KIM, Chang-Hee  KOR    Men   60 - 67.5kg, total (lightweight)
11395         KIM, Eui-Tae  KOR    Men           68 - 80kg (middleweight)
11980      KIMIHARA, Kenji  JPN    Men                           marathon
12599        KIMURA, Kenji  JPN    Men                         volleyball
13087           KIM, U Gil  PRK    Men           - 48kg (light-flyweight)
...                    ...  ...    ...                                ...
26943         KIM, Kyungah  KOR  Women                            singles
26945        KIM, Hyang Mi  PRK  Women                            singles
27919         KIM, Jungjoo  KOR    Men                         64 - 69 kg
28451         KIM, Chayoun  KOR  Women                           handball
28452          KIM, Namsun  KOR  Women                           handball
28453             KIM, Ona  KOR  Women                           handball
28633          KIM, Jaebum  KOR    Men      73 - 81kg (half-middleweight)
28952         KIM, Kyungah  KOR  Women                               team

      Event_gender   Medal  SCHMIDT  Kim  KIM   Surname     First_name
5040             W  Bronze        0    0    0     MCKIM   Josephine E.
7964             M  Bronze        0    1    1       KIM       Sung-Jip
8850             M  Bronze        0    1    1       KIM       Sung-Jip
9732             M  Bronze        0    1    1       KIM      Chang-Hee
11395            M  Bronze        0    1    1       KIM        Eui-Tae
11980            M  Silver        0    0    0  KIMIHARA          Kenji
12599            M  Silver        0    0    0    KIMURA          Kenji
13087            M  Silver        0    1    1       KIM          U Gil
...            ...     ...      ...  ...  ...       ...            ...
26943            W  Bronze        0    1    1       KIM        Kyungah
26945            W  Silver        0    1    1       KIM       Hyang Mi
27919            M  Bronze        0    1    1       KIM        Jungjoo
28451            W  Bronze        0    1    1       KIM        Chayoun
28452            W  Bronze        0    1    1       KIM         Namsun
28453            W  Bronze        0    1    1       KIM            Ona
28633            M  Silver        0    1    1       KIM         Jaebum
28952            W  Bronze        0    1    1       KIM        Kyungah

[92 rows x 15 columns]

/Users/Philippe/Programmation/beta-Carotene/venv/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

In [55]:
# 16) How many different events are in the dataset?

def exercise_16():
    result = df['Event'].nunique()
    return result


# run and check
exercise_16()

577

In [ ]:
# 17) How many different events including numbers in their description are in the dataset?

def exercise_17():
    result = None
    return result


# run and check
exercise_17()

In [ ]:
# 18) Which athlete has participated in the most editions?

def exercise_18():
    result = None
    return result


# run and check
exercise_18()

In [ ]:
# 19) How many sports distributed exactly the same number of Gold, Silver and Bronze medals?

def exercise_19():
    result = None
    return result

# run and check
exercise_19()

In [ ]:
# 20) How many athletes received strictly more Gold medals than Silver and strictly more Silver medals than Bronze?

def exercise_20():
    result = None
    return result

# run and check
exercise_20()

In [ ]:
# 21) Which country has won at least one medal in each olympic edition?

def exercise_21():
    result = None
    return result

# run and check
exercise_21()

In [ ]:
# 22) What is the total sum of scores?

def exercise_22():
    result = None
    return result

# run and check
exercise_22()

In [ ]:
# 23) Which athlete has the largest sum of scores?

def exercise_23():
    result = None
    return result

# run and check
exercise_23()

In [ ]:
# 24) Which woman athlete has the largest sum of scores (°)?

def exercise_24():
    result = None
    return result

# run and check
exercise_24()

In [ ]:
# 25) For how many countries the sum of men' scores is equal to the sum of women' scores?

def exercise_25():
    result = None
    return result

# run and check
exercise_25()

In [42]:
# 26) How many different trials are in the dataset?

def exercise_26():
    result = df.Event.nunique()
    return result

# run and check
exercise_26()

577

In [76]:
# 27) Which edition has the most different trials?

def exercise_27():
    result = df.groupby(['Edition']).agg({'Event': 'nunique'})
    return result

# run and check
exercise_27()

         Event
Edition
1896        43
1900        78
1904        92
1908       103
1912        95
1920       142
1924       114
1928        92
...        ...
1980       146
1984       158
1988       163
1992       178
1996       180
2000       202
2004       204
2008       201

[26 rows x 1 columns]

In [40]:
# 28) How many different first names are in the dataset?

def exercise_28():
    result = df.First_name.nunique()
    return result

# run and check
exercise_28()

9773

In [38]:
# 29) Which athlete's first name has the largest sum of scores?

def surname(str):
    return str.split(',')[0]

def firstname(str):
    fn = str.split(',')
    if len(fn) == 1:
        return ''
    else:
        return fn[1]

def exercise_29():
    
    df['Surname'] = df.Athlete.apply(surname)
    df['First_name'] = df.Athlete.apply(firstname)
    result = df.groupby('Athlete').size().idxmax()

    return result

# run and check
exercise_29()

'LATYNINA, Larisa'

In [39]:
# 30) Which woman athlete's first name has the largest sum of scores (°)?

def exercise_30():
    result = df[df.Gender == 'Women'].groupby('Athlete').size().idxmax()
    return result

# run and check
exercise_30()

'LATYNINA, Larisa'